<!DOCTYPE html>
<html lang="zh-tw">

<!-- Head tag -->
<%- partial('_partial/head') %>
<!-- hack iOS CSS :active style -->
<body ontouchstart="">
<%- partial('_partial/nav') %>
    <!-- Main Content -->
    <%- body %>
    <!-- Footer -->
    <%- partial('_partial/footer') %>
</body>

</html>
